<!-- third party styles -->
<!-- https://stylishthemes.github.io/Syntax-Themes/pygments/ -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>

<!-- include all sass in styles folder -->
{% assign styles = site.pages
  | where_exp: "file", "file.url contains '/_styles'"
%}
{% for style in styles %}
  {% unless style.url contains ".map" %}
    <link
      href="{{ style.path | replace: ".scss", ".css" | relative_url }}"
      rel="stylesheet"
    />
  {% endunless %}
{% endfor %}

<!-- include all css in styles folder -->
{% assign styles = site.static_files
  | where_exp: "file",
    "file.path contains '/_styles' and file.path contains '.css'"
%}
{% for style in styles %}
  <link href="{{ style.path | relative_url }}" rel="stylesheet" />
{% endfor %}

<style>
html {
  font-size: 20px; /* Increase base font size (default is often 16px) */
}
body {
  font-size: 1rem;
  line-height: 1.7;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
nav, .subtitle, .caption {
  font-size: 1.1rem;
}
</style>
